
  <p>
    <%=link_to animal.nombre, user_animal_path(@user,animal) %>
  </p>
  <p>
    <strong>edad:</strong>
    <%= animal.edad %>
  </p>
  <p>
    <strong>sexo:</strong>
    <%= animal.sexo %>
  </p>
  <p>
    <strong>tipo:</strong>
    <%= animal.tipo %>

  </p>
  <%= link_to "editar", edit_user_animal_path(@user,animal), class:"btn btn-warning" %>

